extends util/layout

block content
	hr.section-heading-spacer
	.clearfix
	.page-wrapper
		.container
			.row
				.col-lg-12
					h1.page-header Contact
			p Hi, I'm Vox!  I make things sometimes.  They're not very good.  You can reach me at 
				a(href='mailto:sdbaynham@gmail.com') this email address
				|&nbsp;or on 
				a(href='https://github.com/cannibalvox') GitHub
				|.  You can also find 
				a(href='https://github.com/cannibalvox/bwho') this web application
				|&nbsp;there.

