include mixins

doctype html
html(lang='en')
	head
		title Block Whoever
		
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", rel="stylesheet")
		link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", rel="stylesheet")
	body
		+nav('Block Whoever', 'navbar')
			+nav_item('/', 'active') Home
			+nav_item('test2') About
			+nav_item('test3') Contact
			+nav_item_dropdown('#')(label='Options')
				+nav_item('option1') Option
				+nav_item('option2') Other Option
				+nav_divider
				+nav_header Some Shit
				+nav_item('option3') Final Option
		
		block content


		footer
			.container
				.row
					.col-lg-12
						ul.list-inline
							li: a(href='/') Home
							li.footer-menu-divider &sdot;
							li: a(href='test2') About
							li.footer-menu-divider &sdot;
							li: a(href='test3') Contact
						p.copyright.text-muted.small Copyright &copy; Someone Else, Really.


		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
		script(src='/javascripts/bootstrap.min.js')